[submodule "src/posts"]
	path = src/posts
	url = https://github.com/jarusll/posts.git
	branch = master
[submodule "src/diary"]
	path = src/diary
	url = https://github.com/jarusll/diary.git
	branch = main
[submodule "src/fragments"]
	path = src/fragments
	url = git@github.com:jarusll/fragments.git
	branch = master