<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fragments</title>
    <link rel="stylesheet" href="/main.css" />
    <script type="module" src="https://cdn.jsdelivr.net/npm/@jarusll/user-avatar@1.2.0/src/index.min.js"></script>
</head>

<body>
    <nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/diary">Diary</a></li>
	<li><a href="/fragments">Fragments</a></li>	
    </ul>
</nav>

    
<article>
  <div class="fragment-item">
<span class="tag emacs-tag">
emacs
</span>
<span class="tag checkout-tag">
checkout
</span>
<p><a href="/fragments/emacs-gifs/">Cool emacs gifs site</a></p>
<hr class="hr"/>
</div>
<div class="fragment-item">
<span class="tag emacs-tag">
emacs
</span>
<span class="tag checkout-tag">
checkout
</span>
<p><a href="/fragments/golden-ratio/">Automatically resize focused emacs window to Golden ratio</a></p>
<hr class="hr"/>
</div>
<div class="fragment-item">
<span class="tag emacs-tag">
emacs
</span>
<p><a href="/fragments/show-command-keybind-ivy/">Show keybinds in minibuffer completions</a></p>
<hr class="hr"/>
</div>
<div class="fragment-item">
<span class="tag checkout-tag">
checkout
</span>
<p><a href="/fragments/mech-sounds/">Mechanical keyboard sounds</a></p>
<hr class="hr"/>
</div>
<div class="fragment-item">
<span class="tag youtube-tag">
youtube
</span>
<span class="tag updates-tag">
updates
</span>
<p><a href="/fragments/clojure-koans-part-1/">Solving Clojurescript Koans - Part 1</a></p>
<hr class="hr"/>
</div>

</article>

    <hr />
<footer>
    
    <a href="https://github.com/jarusll" target="_blank">Github</a>
    
    <a href="https://www.linkedin.com/in/suraj-yadav-98794b62/" target="_blank">LinkedIn</a>
    
    <a href="mailto:ysuraj877@gmail.com" target="_blank">Email</a>
    
</footer>

</body>

</html>
