<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My mobile/tablets until now</title>
    <link rel="stylesheet" href="/main.css" />
    <script type="module" src="https://cdn.jsdelivr.net/npm/@jarusll/user-avatar@1.2.0/src/index.min.js"></script>
</head>

<body>
    <nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/diary">Diary</a></li>
	<li><a href="/fragments">Fragments</a></li>	
    </ul>
</nav>

    
<article class="page-my-mobile-phones-until-now">
  <h1>My mobile phones until now</h1>
<p>I have timestamped them with my school grades because I don't remember exact years.</p>
<h2>Nokia 3310c</h2>
<ul>
<li>5th - 7th grade</li>
</ul>
<p><img src="https://rukminim1.flixcart.com/image/416/416/jljri4w0/mobile-panel/j/c/a/body-26-g-tong-original-imaf8n5vvb2qxqe9.jpeg?q=70" alt="Nokia 3310c"></p>
<p>My first ever personal phone. It was Java based. I rocked this for about 2 years. I played so many games on this thing.<br>
Some of the ones I can recall is Spiderman, Street fighter ripoff, Tomb raider. And ofc bounce.</p>
<p>I used to spend hours downloading apps &amp; games. And it actually took time because I had to find the ones for my phones resolution. Yes, Apps came with their own resolution. And not only that, app compatibility wasn't guaranteed. The only way to know it was to run it.</p>
<p>Some of the best apps I can recall for this phone are Facebook, Ebuddy, Opera Mini, UCBrowser. Gameloft games were big on Java.</p>
<h2>Samsung Corby Pro B5310</h2>
<ul>
<li>7th grade - 9th grade</li>
</ul>
<h2>Nokia N91</h2>
<ul>
<li>9th grade - 10th grade</li>
</ul>
<h2>Samsung Galaxy Y GT-S5360</h2>
<ul>
<li>10th Grade</li>
</ul>
<h2>Iball Slide Tablet</h2>
<ul>
<li>10th grade - 12th grade</li>
</ul>
<h2>Micromax Bolt A064</h2>
<ul>
<li>11th grade - 2nd Uni year</li>
</ul>
<h2>Vivo Y20</h2>
<ul>
<li>2nd Uni year - Current</li>
</ul>

</article>

    <hr />
<footer>
    
    <a href="https://github.com/jarusll" target="_blank">Github</a>
    
    <a href="https://www.linkedin.com/in/suraj-yadav-98794b62/" target="_blank">LinkedIn</a>
    
    <a href="mailto:ysuraj877@gmail.com" target="_blank">Email</a>
    
</footer>

</body>

</html>
