<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My mobile/tablets until now</title>
    <link rel="stylesheet" href="/main.css" />
    <script type="module" src="https://cdn.jsdelivr.net/npm/@jarusll/user-avatar@1.2.0/src/index.min.js"></script>
</head>

<body>
    <nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/diary">Diary</a></li>
	<li><a href="/fragments">Fragments</a></li>	
    </ul>
</nav>

    
<article class="page-my-mobile-phones-until-now">
  <h1>My mobile phones until now</h1>
<p>I have timestamped them with my school grades because I don't remember exact years.</p>
<h2>Nokia 3310c</h2>
<ul>
<li>5th - 7th grade</li>
</ul>
<p><img src="https://3.allegroimg.com/s1024/0c4bb1/6aa36b5d483792bbbf8201a916e3" alt="Nokia 3310c"><br>
<em>Credit</em> - <a href="https://archiwum.allegro.pl/oferta/nokia-3310c-plus-i7246256743.html">https://archiwum.allegro.pl/oferta/nokia-3310c-plus-i7246256743.html</a></p>
<p>My first ever personal phone. It was Java based. I rocked this for about 2 years. I played so many games on this thing. Some of the ones I can recall is Spiderman, Street fighter ripoffs, Tomb raider. And ofc bounce.</p>
<p>I used to spend hours downloading apps &amp; games. And it actually took time because I had to find the ones for my phones resolution. Yes, Apps came with their own resolution. And not only that, app compatibility wasn't guaranteed. The only way to know it was to run it.<br>
Some of the best apps I can recall for this phone are Facebook, Ebuddy, Opera Mini, UCBrowser. Gameloft games were big on Java.</p>
<h2>Samsung Corby Pro B5310</h2>
<ul>
<li>7th grade - 9th grade</li>
</ul>
<p><img src="https://ms2.tudocdn.net/203707?w=500&amp;h=419" alt="Samsung Corby Pro B5310"><br>
<em>Credit - <a href="https://www.mobilescout.com/tech/news/n80650/samsung-corbypro-with-slider-qwerty-keypad.html">https://www.mobilescout.com/tech/news/n80650/samsung-corbypro-with-slider-qwerty-keypad.html</a></em></p>
<p>The first touch &amp; multitasking phone for me. I discovered that feature after a year. I din't even know Java phones had multitasking. And ofcourse the slider keyboard.</p>
<p>Having this thing in my pocket I no longer felt like a boy, I was a grown up man.</p>
<h2>Nokia N91</h2>
<ul>
<li>9th grade - 10th grade</li>
</ul>
<p><img src="https://fdn.gsmarena.com/imgroot/news/19/12/flashback-nokia-n91/-727/gsmarena_002.jpg" alt="Nokia N91"><br>
<em>Credit - <a href="https://www.gsmarena.com/flashbacknokian91-news-40659.php">https://www.gsmarena.com/flashbacknokian91-news-40659.php</a></em></p>
<p>My first Symbian phone. This was during when N95 was the coolest phone around. But I couldn't get one so I got an N91.</p>
<p>This thing was a chonky boi. I learnt alot with this phone. This phone taught me jailbreaking &amp; emulation. I used to emulate sega genesis &amp; doom on this. And if you rotatee &amp; mapped the music buttons It actually felt like a handheld, just like N95.</p>
<h2>Samsung Galaxy Y GT-S5360</h2>
<ul>
<li>10th Grade</li>
</ul>
<p>My first Android phone</p>
<h2>Iball Slide Tablet</h2>
<ul>
<li>10th grade - 12th grade</li>
</ul>
<p>My first tablet, I bought this to read.</p>
<h2>Micromax Bolt A064</h2>
<ul>
<li>11th grade - 2nd Uni year</li>
</ul>
<h2>Vivo Y20</h2>
<ul>
<li>2nd Uni year - Current</li>
</ul>

</article>

    <hr />
<footer>
    
    <a href="https://github.com/jarusll" target="_blank">Github</a>
    
    <a href="https://www.linkedin.com/in/suraj-yadav-98794b62/" target="_blank">LinkedIn</a>
    
    <a href="mailto:ysuraj877@gmail.com" target="_blank">Email</a>
    
</footer>

</body>

</html>
