<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My mobile/tablets until now</title>
    <link rel="stylesheet" href="/main.css" />
    <script type="module" src="https://cdn.jsdelivr.net/npm/@jarusll/user-avatar@1.2.0/src/index.min.js"></script>
</head>

<body>
    <nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/diary">Diary</a></li>
	<li><a href="/fragments">Fragments</a></li>	
    </ul>
</nav>

    
<article class="page-my-mobile-phones-until-now">
  <h1>My mobile phones until now</h1>
<h2>Nokia 3310c</h2>
<h2>Samsung Corby Pro B5310</h2>
<h2>Nokia N91</h2>
<h2>Samsung Galaxy Y GT-S5360</h2>
<h2>Micromax Bolt A064</h2>
<h2>Iball Slide Tablet</h2>
<h2>Vivo Y20</h2>

</article>

    <hr />
<footer>
    
    <a href="https://github.com/jarusll" target="_blank">Github</a>
    
    <a href="https://www.linkedin.com/in/suraj-yadav-98794b62/" target="_blank">LinkedIn</a>
    
    <a href="mailto:ysuraj877@gmail.com" target="_blank">Email</a>
    
</footer>

</body>

</html>
