<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mechanical keyboard sounds</title>
    <link rel="stylesheet" href="/main.css" />
    <script type="module" src="https://cdn.jsdelivr.net/npm/@jarusll/user-avatar@1.2.0/src/index.min.js"></script>
</head>

<body>
    <nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/diary">Diary</a></li>
	<li><a href="/fragments">Fragments</a></li>	
    </ul>
</nav>

    
<article class="page-mech-sounds">
  <h1>Mechanical keyboard sounds</h1>
<p><img src="https://camo.githubusercontent.com/064a15f8aa697f91aefae44c108b80e03c0a8bf4b3c4b9e78dabc385c2f106c5/68747470733a2f2f692e696d6775722e636f6d2f37387155554c412e6a7067" alt="MechVibes"></p>
<p><a href="https://github.com/hainguyents13/mechvibes" title="MechVibes">MechVibes</a> is a cool program to emulate mechanical keyboard sounds.</p>
<p>Get here <a href="https://github.com/hainguyents13/mechvibes">https://github.com/hainguyents13/mechvibes</a></p>
<p>I use this to record my youtube videos.</p>

</article>

    <hr />
<footer>
    
    <a href="https://github.com/jarusll" target="_blank">Github</a>
    
    <a href="https://www.linkedin.com/in/suraj-yadav-98794b62/" target="_blank">LinkedIn</a>
    
    <a href="mailto:ysuraj877@gmail.com" target="_blank">Email</a>
    
</footer>

</body>

</html>
