/* ibm flex & garamond */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=IBM+Plex+Sans&display=swap');

* {
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cormorant Garamond', serif;
}

hr {
    border: 0;
    clear:both;
    display:block;
    background-color: black;
    height: 1px;
}

/* nav styles */
nav li {
    list-style: none;
    margin: auto 1rem;
    padding: 0;
    text-transform: uppercase;
}

nav ul {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.named-fence-block {
    position: relative;
    padding-top: 2em;
    background: lightgray !important;
    padding: 1.2rem;
}

.named-fence-filename {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 4px;
    font-weight: bold;
    color: white;
    background: #181818;
    opacity: 0.6;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

footer a {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto 1rem;
    text-decoration: none;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

/* desktop style */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
article {
    min-height: calc(100vh - 8rem);
    width: 50%;
}

/* mobile */
@media screen and (max-width: 600px) {
    article {
	min-height: calc(100vh - 8rem);
        width: 95%;
    }
    img {
	max-width: 350px;
	object-fit: contain !important;
    }
}



